ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.active-link {
    color: #FFFFFF;
    text-decoration: none;
}

.active-link:hover {
    color: #D41443;
}
$color-background: #FFB8CA;
body {
    margin: 0;
    height: 100%;
    background-color: #FFB8CA;
}

.ice-cream-logo {
    position: absolute;
    left: 1.33%;
    right: 82.08%;
    top: 1.79%;
    bottom: 97.18%;
    margin-top: 24px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-home {
    position: absolute;
    width: 46px;
    height: 21px;
    left: 343px;
    top: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.nav-about-us {
    position: absolute;
    width: 70px;
    height: 21px;
    left: 424px;
    top: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.nav-how-its-made {
    position: absolute;
    width: 117px;
    height: 21px;
    left: 529px;
    top: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.nav-our-products {
    position: absolute;
    width: 104px;
    height: 21px;
    left: 681px;
    top: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    z-index: 2;
}

.nav-contact {
    position: absolute;
    width: 64px;
    height: 21px;
    left: 820px;
    top: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    z-index: 2;
}

.button-buy-now {
    position: absolute;
    width: 159px;
    height: 44px;
    left: 1025px;
    top: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #D41443;
    background: #FFFFFF;
    border-radius: 22px;
    border: #D41443;
}

.ice-cream-text {
    position: absolute;
    width: 277px;
    height: 137px;
    left: 16px;
    top: 147px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.products-button {
    position: absolute;
    width: 107px;
    height: 40px;
    left: 16px;
    top: 308px;
    margin-top: 24px;
    background: #D41443;
    border-radius: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    border: #D41443;
}

.how-its-made-button {
    position: absolute;
    width: 138px;
    height: 40px;
    left: 135px;
    top: 308px;
    margin-top: 24px;
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #D41443;
    border: #D41443;
}

.milk-pitcher {
    position: absolute;
    width: 213px;
    height: 216px;
    left: 16px;
    top: 388px;
    background: url(slider-pic5.png);
}

.paragraph-text {
    position: absolute;
    width: 200px;
    height: 78px;
    left: 229px;
    top: 456px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    color: #FFFFFF;
}

.right-arrow {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 229px;
    top: 554px;
    background: url(arrow-right.png);
}

.ice-cream-image {
    position: absolute;
    width: 236px;
    height: 557px;
    left: 636px;
    top: 108px;
    background: url(slider-pic7.png);
}

.ellipse-background {
    background-image: url("/images/Ellipse\ 3.png");
    background-size: cover;
    position: absolute;
    width: 534px;
    height: 534px;
    left: 517px;
    top: 54px;
}

.girl-eating-icecream {
    position: absolute;
    width: 304px;
    height: 241px;
    left: 880px;
    top: 423px;
    background: url(slider-pic4.png);
}

.container-1 {
    width: 72px;
    height: 77px;
    margin-right: 1152px;
}

.sixteen {
    position: absolute;
    width: 54px;
    height: 53px;
    left: 1112px;
    top: 156px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    z-index: 3;
}

.cafes-text {
    position: absolute;
    width: 35px;
    height: 18px;
    left: 1131px;
    top: 211px;
    margin-top: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

.container-2 {
    width: 92px;
    height: 76px;
    margin-right: 1132px;
}

.twenty-three {
    position: absolute;
    width: 59px;
    height: 53px;
    left: 1107px;
    top: 247px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    z-index: 3;
}

.foodtrucks-text {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 1092px;
    top: 302px;
    margin-top: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

.small-ellipse-1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1154px;
    top: 192px;
    z-index: 1;
}

.small-ellipse-2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1154px;
    top: 284px;
    z-index: 1;
}
