$containerBackground: rgba(250, 250, 250, 1);
$underlineColor: rgba(225, 225, 225, 1);
$sliderButtons: rgba(199, 19, 62, 1);




body {
    font-family: "DM Sans";
    font-weight: 500; 

    p {
        margin: 0 auto;
        line-height: 1.5em;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-content: center;
        align-items: center;
    
    }

    .reviews__home-slider {
        width: 100%;   
    
    }


    .reviews__home-slider .slider {
        overflow: initial;
    
    }


    .reviews__home-slider .reviews__slide {
        display: flex;
        flex-direction: column;
        width:100%;
        max-width: 1280px;
        align-items: center;
        justify-content: center;
    
    
    }

    .reviews__home-slider .reviews__slide img {
        width: 85px;
        height: 85px;
        transition: all linear .4s;

     
    }

        .reviews__testimonial-container {
            background-color: $containerBackground;
            width: 968px;
            height: 138px;
            margin-top: 16px;
            position: relative;

            .reviews__testimonial-description{
                margin: 0;
                text-align: center;
                bottom: 39px;
                top: 47px;
                left: 109px;
                right: 109px;
                line-height: 29.76px;
                position: absolute;
                text-decoration: underline $underlineColor;
                text-underline-offset: 8px;
                
                

        
            }



            .reviews__testimonial-description::before {
                content: "❞";
                left: -29px;
                width: 54px;
                bottom: -6px;
                height: 40px;
                position: absolute;
                color: rgba(225, 225, 225, 1);
                font-size: 100px;
            
            }

            

      



        }

    .reviews__name-container {
        margin-top: 36px;


        .reviews__name-details {
            font-size: 20px;
            position: relative;
        }

    }

    .reviews__icon {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
   
        cursor: pointer;
    }
    
    .slick-dots li button {
        font-size: 0;

        cursor: pointer;
        border: 0;
        outline: none;
        background: transparent;
        

    }
    
    .slick-dots li button::after {
        content: "";
       
        line-height: 20px;
        position: absolute;
        
        width: 12px;
        height: 12px;
    
        border-radius: 100%;
        background-color: #D9D9D9;
    }


   
}

@media screen and (max-width: 768px) {
    body {
        .reviews {
            max-width: 748px;
            display: flex;
            flex-direction: row;
        }

        .reviews__home-slider {
            width: 80%;
        }

        .reviews__testimonial-description {
            overflow: hidden;
            text-align: left;
        }
    }
}