<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"Ice cream made with passion"</title>
    </title>
    <link rel="stylesheet" href="/src/sass/index.scss" />
    <link rel="stylesheet" href="/src/sass/hero.css" />
    <script type="module" src="/javascript/index.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <img
            class="ice-cream-logo"
            src="/src/images/Group.png"
            alt="Ice Cream logo"
          />
        </div>
        <div>
          <ul class="nav-menu">
            <li class="nav-home">
              <a class="active-link" href="index.html">Home</a>
            </li>
            <li class="nav-about-us">
              <a class="active-link" href="reviews.html">About us</a>
            </li>
            <li class="nav-how-its-made">
              <a class="active-link" href="how.html">How it's made?</a>
            </li>
            <li class="nav-our-products">
              <a class="active-link" href="products.html">Our products</a>
            </li>
            <li class="nav-contact">
              <a class="active-link" href="locations.html">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <button class="button-buy-now">Buy now</button>
        </div>
      </nav>
    </header>
    <main>
      <h1 class="ice-cream-text">
        Ice Cream Made with <span style="color: #d41443">Passion</span>
      </h1>
     <a href="products.html"> <button class="products-button">Products</button></a>
     <a href="how.html"> <button class="how-its-made-button">How it's made?</button></a>
      <img
        class="milk-pitcher"
        src="/src/images/slider-pic5 1.png "
        alt=" Milk in pitcher"
      />
      <p class="paragraph-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <img
        class="right-arrow"
        src="/src/images/arrow-right 3.png"
        alt="Right arrow"
      />
       <div>
          <img class="ellipse-background" src="/src/images/Ellipse 3.png" alt="Ellipse"/>
        <img
        class="img2 ice-cream-image"
        src="/src/images/slider-pic7 1.png"
        alt="Ice cream cone"
      />
      </div>
      <div class="container-1">
      <h2 class="sixteen">16</h2>
      </div>
      <div class="container-1">
      <img class="small-ellipse-1" src="/src/images/Ellipse 1.png" alt="Small Ellipse"/>
      </div>
      <div class="container-1">
      <p class="cafes-text">cafes</p>
      </div>
      <div class="container-2">
      <h2 class="twenty-three">23</h2>
      </div>
      <div class="container-2">
      <img class="small-ellipse-2" src="/src/images/Ellipse 2.png" alt="Small Ellipse"/>
      </div>
      <div class="container-2">
      <p class="foodtrucks-text">food trucks</p>
      </div>
      <img
        class="girl-eating-icecream"
        src="/src/images/slider-pic4 1.png"
        alt="Girl eating Ice Cream Cone"
      />
     </main>
  </body>
</html>