  <header>
      <div>
      <nav>
        <div>
          <img
            class="ice-cream-logo"
            src="./images/Group.png"
            alt="Ice Cream logo"
          />
        </div>
        <div>
          <ul class="nav-menu">
            <li class="nav-home">
              <a class="active-link" href="#hero-section">Home</a>
            </li>
            <li class="nav-about-us">
              <a class="active-link" href="#">About us</a>
            </li>
            <li class="nav-how-its-made">
              <a class="active-link" href="#">How it's made?</a>
            </li>
            <li class="nav-our-products">
              <a class="active-link" href="#l">Our products</a>
            </li>
            <li class="nav-contact">
              <a class="active-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <button class="trigger button-buy-now ">Buy now</button>
        <div class="modal">
          <div class="modal-content">
            <span class="close-button">&times;</span>
         <div class="col-25">
         <div class="container">
          <h4>Cart
          <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>4</b>
        </span>
        </h4>
         <p><a href="#">Product 1</a> <span class="price">$15</span></p>
        <p><a href="#">Product 2</a> <span class="price">$5</span></p>
        <p><a href="#">Product 3</a> <span class="price">$8</span></p>
        <p><a href="#">Product 4</a> <span class="price">$2</span></p>
        <hr>
        <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
        <input type="submit" value="Continue to checkout" class="btn">
        </div>
      </div>
      </div>
          </div>
        </div>
      </nav>
  </header>
  <section id="hero-section">
      <h1 class="ice-cream-text">
        Ice Cream Made with <span style="color: #d41443">Passion</span>
      </h1>
     <a href="#"> <button class="products-button">Products</button></a>
     <a href="#"> <button class="how-its-made-button">How it's made?</button></a>
      <img
        class="milk-pitcher"
        src="../images/sliderpic5.png "
        alt=" Milk in pitcher"
      />
      <p class="paragraph-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <img
        class="right-arrow"
        src="./images/arrow-right.png"
        alt="Right arrow"
      />
       <div>
          <img class="ellipse-background" src="../images/Ellipse-3.png" alt="Ellipse"/>
        <img
        class="img2 ice-cream-image"
        src="../images/sliderpic7.png"
        alt="Ice cream cone"
      />
      </div>
      <div class="container-1">
      <h2 class="sixteen">16</h2>
      </div>
      <div class="container-1">
      <img class="small-ellipse-1" src="../images/Ellipse-1.png" alt="Small Ellipse"/>
      </div>
      <div class="container-1">
      <p class="cafes-text">cafes</p>
      </div>
      <div class="container-2">
      <h2 class="twenty-three">23</h2>
      </div>
      <div class="container-2">
      <img class="small-ellipse-2" src="../images/Ellipse-2.png" alt="Small Ellipse"/>
      </div>
      <div class="container-2">
      <p class="foodtrucks-text">food trucks</p>
      </div>
      <img
        class="girl-eating-icecream"
        src="../images/sliderpic4.png"
        alt="Girl eating Ice Cream Cone"
      />
    </div>
  </section>
 