
    <div class="section__how">
        <div class="title__section__how">
            <h3 class="subtitle__how">Tradition And Love</h3>
            <h2 class="title__how">How It's Made?</h2>
        </div>
        <div class="how__mid">
            <div class="how__left">
               <!--<img  class="cowcow" src="./src/images/how/howcow.png" alt="cow"/> -->
            </div>
            <div class="how__right">
                <p class="how__right__text1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                    deserunt delectus quo odio odit minima voluptatibus quis? Quas
                    ipsum, blanditiis ut voluptatem aspernatur laborum delectus libero
                    enim.
                </p>
                <p class="how__right__text2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
                    natus quas obcaecati deleniti sunt dolor. Itaque facilis impedit
                    magni aut unde similique, voluptatem consectetur, debitis
                    voluptatibus sit dignissimos corporis repellendus cumque velit
                    expedita modi totam quae maiores?
                </p>
                <button class="how__button">Read More </button>
            </div>
        </div>
        <div class="how__icons__box">
            <div class="how__icon__box">
                <i class=" pink fa-solid fa-cow"></i>
                <span class="how__icon__number">84</span>
                <span class="how__icon__text">Is the number of cows that provide the milk we use at our shop! They come from 3 different farms and are all within 25 miles of the city limits!</span>
            </div>
            <div class="how__icon__box">
                <i class="pink fa-solid fa-recycle"></i>
                <span class="how__icon__number">16KG</span>
                <span class="how__icon__text">The amount of unrecycable waste we throw out weekly. Because we ultimately believe in recycling and doing our share to protect the enviroment </span>
            </div>
            <div class="how__icon__box">
                <i class="pink fa-solid fa-ice-cream"></i>
                <span class="how__icon__number">721</span>
                <span class="how__icon__text"> Gallons of ice cream we produce each month!
                    Atque.</span>
            </div>
        </div>     



