  <div class="container">
    <div class="section__how">
      <div class="title__section__how">
        <h3 class="subtitle__how">Tradition And Love</h3>
        <h2 class="title__how">How It's Made?</h2>
      </div>
      <div>
        <div class="how__left"></div>
        <div class="how__right">
          <p class="how__right__text 1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            deserunt delectus quo odio odit minima voluptatibus quis? Quas
            ipsum, blanditiis ut voluptatem aspernatur laborum delectus libero
            enim.
          </p>
          <p class="how__right__text 2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
            natus quas obcaecati deleniti sunt dolor. Itaque facilis impedit
            magni aut unde similique, voluptatem consectetur, debitis
            voluptatibus sit dignissimos corporis repellendus cumque velit
            expedita modi totam quae maiores?
          </p>
          <button class="how__button">Read More ></button>
        </div>
      </div>
      <div class="how__icons__box">
        <div class="how__icon">
          <span>721</span>
          <span
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Laboriosam!</span
          >
        </div>
        <div class="how__icon__box">
          <span>16KG</span>
          <span
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Magnam.</span
          >
        </div>
        <div class="how__icon__box">
          <span>84</span>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Atque.</span
          >
        </div>
      </div>
    </div>

      </div>
    </div>
  </div>


