<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<p>reviews</p>, initial-scale=1.0">
    <title>Reviews</title>

    <!-- main stylesheet  -->
    <link rel="stylesheet" href="/src/sass/index.css"/>

    <!-- main sass -->
    <link rel ="main stylesheet" href="/src/sass/index.scss" />

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

			


</head>
<body>
    <section class="reviews">
        <div class="reviews__slider-container">
            <ul class="reviews__slider-list">
                <li class="reviews__slider-item">
                    <img class="reviews__slider-image" src="/src/images/testimonials1 1.png" width="85px" height="auto">
                    <div class="reviews__testimonial-container">
                        <p class="reviews__testimonial-description">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </li>
                <li class="reviews__slider-item">
                    <img src="/src/images/testimonials1 1.png">
                    <div class="reviews__testimonial-container">
                        <p class="reviews__testimonial-description">
                         Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                 </li>
            </ul>
        </div>
            <div class="reviews__name-container">
                <p class="reviews__name-details">
                    Emily, Los Angeles
                </p>
            </div>
            <svg class="icon icon-Vector-6-1" width="12px" height="10.84px">
                <use href="/src/images/icons.svg#icon-Vector-6-1"></use>
            </svg>
        </div>
    </section>

     <!-- jQuery code -->
     <script
     src="https://code.jquery.com/jquery-3.6.1.min.js"
     integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
     crossorigin="anonymous"></script>
     
     <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript">
        $('.reviews__slider-list').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            variableWidth: false,
            
            
        });
        
    </script>

</body>
</html>